<h4>Please enter the one time password you were texted.</h4>

<%= form_tag verification_path(id: params[:id]), method: :put do %>
    <div class="form-group">
      <%= label_tag :code %><br />
      <%= number_field_tag :code, class: "form-control"  %>
    </div>
    <%= submit_tag 'Verify One Time Code', class: "btn btn-primary" %>
<% end %>