openapi: 3.0.0
info:
  title: APTrust Member API
  description: This is the documentation for the APTrust Pharos Member API, which
    can be found in another location at [https://wiki.aptrust.org/Member_API](https://wiki.aptrust.org/Member_API).
    The Member API basepath is [https://repo.aptrust.org/member-api/v2](https://repo.aptrust.org/member-api/v2).
  contact:
    email: help@aptrust.org
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 0.1-oas3
servers:
- url: https://demo.aptrust.org
  description: APTrust Demo/Test server
- url: https://repo.aptrust.org
  description: APTrust Production server
- url: https://twofactor.docker1.aptrust.org
  description: APTrust 2fa staging server for cors check
security:
- ApiKeyAuth: []
  UserId: []
paths:
  /member-api/v2/events/{generic_file_identifier}:
    get:
      summary: Premis Events of a generic file
      description: 'List of Premis Events belonging to a particular Generic File.
        It requires that the user specify the generic_file_identifer as url-encoded,
        and as part of the base URL. '
      parameters:
      - name: generic_file_identifier
        in: path
        description: Premis Events belonging to a particular Generic File. Requires
          to specify the generic_file_identifer as url-encoded.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        description: APTrust's internal ID for an object.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: identifier
        in: query
        description: The unique identifier for an event in the APTrust repository.
          It is generated by APTrust when the event is created.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: event_type
        in: query
        description: Refers to the type of Premis Event that was created.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: date_time
        in: query
        description: Date when the premis event was created.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: detail
        in: query
        description: A brief message explaining the purpose of the premis event generation,
          tailored to the type of event that was created.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outcome_information
        in: query
        description: Additional information pertinent to the individual process that
          was run in tandem with the event generation. May be empty.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: outcome
        in: query
        description: Outcome of the event
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: object
        in: query
        description: Name and version of the code base or gem that was responsible
          for the process run in tandem with the event generation.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: agent
        in: query
        description: Source of the object attribute listed above.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: institution_id
        in: query
        description: ID of the institution to which the event belongs.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: intellectual_object_id
        in: query
        description: ID of the intellectual object to which the event belongs.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: generic_file_id
        in: query
        description: ID of the generic file to which the event belongs, if it is associated
          with a generic file. May be empty.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: created_at
        in: query
        description: Time of creation of object
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: updated_at
        in: query
        description: Time of last update of object
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: old_uuid
        in: query
        description: Previous identifier of the event if the identifier was a duplicate
          - something Pharos no longer allows.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: A JSON array of Premis Events
          content:
            application/json:
              schema:
                $ref: '#/definitions/event'
  /member-api/v2/events/{intellectual_object_identifier}:
    get:
      summary: Premis Events of an intellectual object
      description: 'List of Premis Events belonging to a particular intellectual object.
        It requires that the user specify the generic_file_identifer as url-encoded,
        and as part of the base URL. '
      parameters:
      - name: intellectual_object_identifier
        in: path
        description: '"List of Premis Events belonging to a particular Intellectual
          Object. Requires the intellectual_object_identifer to be url-encoded."'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: virginia.edu/va.edu_dc
      responses:
        200:
          description: A JSON array of Premis Events
          content:
            application/json:
              schema:
                $ref: '#/components/definition/event'
  /member-api/v2/events/{institution_identifier}:
    get:
      summary: Premis events of a specific institution
      description: List of Premis Events belonging to a particular institution.
      parameters:
      - name: institution_identifier
        in: path
        description: '"List of Premis Events belonging to a particular institution."'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: A JSON array of Premis Events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
  /member-api/v2/files:
    get:
      description: Returns a list of Generic Files belonging to a particular Intellectual
        Object. It requires that the user specify the intellectual_object_identifer
        as url-encoded, and as part of the base URL.
      parameters:
      - name: event_identifier
        in: query
        description: Premis Event with this exact identifier. The identifier has the
          format of a Random hex
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 12f9dc69-e753-435f-b1fd-1d6bc1229957
      responses:
        200:
          description: A JSON array of intellectual objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /member-api/v2/items:
    get:
      description: 'Returns a list of items in the APTrust work queue, including items
        where the work has been completed. Use this endpoint to check the status of
        any of the following: bag ingest requests, restoration requests, deletion
        requests, requests to send items to DPN'
      responses:
        200:
          description: A JSON array of intellectual objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /member-api/v2/objects:
    get:
      description: 'This endpoint returns a list of Intellectual Objects belonging
        to your institution. Intellectual Objects are usually fully ingested bags,
        though when bags are uploaded  in multiple parts, the Intellectual Object
        may appear before all of the component  bags are fully ingested.  '
      responses:
        200:
          description: A JSON array of intellectual objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas: {}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-Pharos-API-KEY
      in: header
    UserId:
      type: apiKey
      name: X-Pharos-API-User
      in: header
