<p>Hello <%= @subject.name %>,</p>
<br>
<p>Once a year we at APTrust send out emails to confirm everyone's account to ensure your user account is still active.
  You will have two weeks to confirm your account on the <%= Rails.env.capitalize %> system before your account will be deactivated.
  At that point, if you are still an active user, you will need to contact an administrator to reactivate your account.</p>
<br>

<a href="<%= @confirmation_url %>">Click here to confirm your account</a>

<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>
