<p>Hey <%= @subject.name %>,</p>
<br>
<p>This is an email from Pharos, the APTrust web application.</p>
<br>
<p>Once a year we send out emails to confirm everyone's account to make sure the users on the web application are still active.
  This is that time of year. You will have two weeks to confirm your account before your account will be deactivated. At that point,
  if you are still an active user, you will need to contact an administrator to reactivate your account. <br>
  Please click the following link to confirm your account:</p>
<br>

<a href="<%= @confirmation_url %>"><<%= @confirmation_url %></a>

<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>
