<p>Hello <%= @subject.name %>,</p>

<p>Your password has been reset by an APTrust administrator, presumably at your request.</p>

<p>Your new password is <%= @password %></p>

<p>Though it is not required, we highly recommend that you change your password when you login next.
  No one else has your new password.</p>

<p>You can log in here: <%= @login_url %></p>

<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>

<p>The APTrust Team</p>