<p>Admin Users at <%= @subject.name %> and APTrust,</p>
<br>
<p>This email notification is to inform you that a bulk deletion job requested by <%= @requesting_user.name %>
  and approved by <%= @inst_approver.name %> and <%= @apt_approver.name %> has successfully finished and all objects and / or files have been deleted.
  The objects and files included in this bulk deletion are listed in the attached CSV file. </p>
<br>
<p>Please contact the APTrust team if you have any questions.</p>