<p>Admin Users at <%= @subject_institution.name %>,</p>
<br>
<p>This email notification is to inform you that the following intellectual object or generic file, whose deletion
was requested by <%= @requesting_user.name %>, has been successfully queued for deletion:</p>
<br>
<p><a href="<%= @subject_url %>" ><%= @subject.identifier %></a></p>
<br>
<p>Depending on the size of the object, it may take a few minutes for all associated files to be marked as deleted - if
only a single file has been marked for deletion, this will not be an issue.</p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>

