<p>Admin Users at <%= @subject.name %>,</p>
<br>
<p>This email is to inform you of new deletion requests that have completed.
  Please see the attached CSV file for a complete list of files that have been deleted, and the requesters and approvers of those requests.</p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>