<p>Hello <%= @subject.name %>,</p>
<br>
<p>Welcome to Pharos, the APTrust web application.</p>
<br>
<p>Before you can continue using the <%= Rails.env.capitalize %> website, we need to verify your email address. <br>
<a href="<%= @confirmation_url %>">Click here to verify your email address</a></p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for joining the APTrust preservation community.</p>

<p>The APTrust Team</p>