<p>Admin Users at <%= @event_institution.name %>,</p>
<br>
<p>This email notification is to inform you that one of your files failed a fixity check.
The failed fixity check can be found at the following link:</p>
<br>
<p><a href="<%= @event_url %>" ><%= @event.identifier %></a></p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>