<p>Admin Users at <%= @event_institution.name %>,</p>
<br>
<p>This email notification is to inform you that one of your files failed a fixity check.
The failed fixity check can be found at the following link:</p>
<br>
<p><a href="<%= @event_url %>" ><%= @event.identifier %></a></p>
<br>
<p>Please contact the APTrust team by replying to this email if you have any questions.</p>