Admin Users at <%= @event_institution.name %>,

This email notification is to inform you that one of your files failed a fixity check.
The failed fixity check can be found at the following link:

<a href="<%= @event_url %>" ><%= @event.identifier %></a>

Please contact the APTrust team by replying to this email if you have any questions.