<p>Admin Users at <%= @event_institution.name %>,</p>
<br>
<p>This email notification is to inform you that one ore more of your files failed a fixity check.
The failed fixity checks can be found at the following link:</p>
<br>
<p><a href="<%= @events_url %>" >Failed Fixity Checks</a></p>
<br>
<p>A comprehensive list of failed fixity checks can be found below.</p>
<br>
<p>Please contact the APTrust team if you have any questions.
  eMail - help@aptrust.org
  Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for being a part of the APTrust preservation community.</p>

<p>The APTrust Team</p>
<br>
<p>
  <% @events.each do |event| %>
    <ul>
      <li><a href="<%= premis_event_url(event) %>" ><%= event.identifier %></a></li>
    </ul>
  <% end %>
</p>

