<p>Admin Users at <%= @item_institution.name %>,</p>
<br>
<p>This email notification is to inform you that one of your restoration requests has successfully completed.
The finished record of the restoration can be found at the following link:</p>
<br>
<p><a href="<%= @item_url %>" ><%= @item.object_identifier %></a></p>
<br>
<p>Please contact the APTrust team by replying to this email if you have any questions.</p>