<p>Admin Users at <%= @item_institution.name %>,</p>
<br>
<p>This email notification is to inform you that a spot test of the restoration system has been performed on one of your bags.
  Please help APTrust out by downloading the restored bag and letting us know if any problems occur. </p>
<br>
<p>Click <a href="<%= @item_url %>">HERE</a> to view the Work Item record of the restored bag.</p>
<br>
<p>Click <a href="<%= @download_url %>">HERE</a> to download the restored bag from S3.</p>
<br>
<p>Please contact the APTrust team by replying to this email if you have any questions, or if you have any problems.</p>