<p>Hello <%= @subject.name %>,</p>

<p>Welcome to Pharos, the APTrust Repository web application.
With Pharos you are able to manage preservation deposits and inspect outcomes of your
preservation activities. </p>

<p>An account with a temporary password has been created for you. Please follow
the URL below to login with your email address and temporary password. You will
be prompted to change this password after your initial login. A new password
has to be least 10 characters long.</p>

<p>If you have been setup as an institutional admin you will be required to enable
two-factor authentication after your first login. You will be guided through the
setup process. Otherwise this feature is optional, though we highly recommend
to enable it.</p>

<p>Your login is <%= @subject.email %></p>
<p>Your temporary password is <%= @password %></p>

<p>Login URL: <%= @login_url %><p>

<p>Please contact the APTrust team if you have any questions.
eMail - help@aptrust.org
Slack - http://bit.ly/aptrust-slack #aptrust_community
</p>
<p>Thanks so much for joining the APTrust preservation community.</p>

<p>The APTrust Team</p>
