<div id="passPopoverDiv">
  <a href="#" data-toggle="password_popover" title="" data-content="
  Passwords must either contain a capital letter, a lowercase letter, and a number, OR be at least twenty characters long.
  Passwords will automatically expire after three months. For tips on creating strong passwords, please see this helpful comic:
  <a href='https://xkcd.com/936/' title='xkcd passwords'>https://xkcd.com/936/</a>">
    Click for password requirements.</a>
  <br><br>
</div>