<div id="passPopoverDiv">
  <p><span class="badge badge-danger">Attention!</span> Passwords must be at least 10 characters long but we
    recommend that they be even longer. For tips on creating strong passwords,
    please see this helpful comic:
    <a href='https://xkcd.com/936/' target="_blank" title='xkcd passwords'>https://xkcd.com/936/</a></p>
</div>

