
<%= form_tag action: 'index', controller: "work_item" do %>
    <div class="input-group" id="wi_search">

      <span class="input-group-addon">
        <label for="wi_search_field" class="sr-only">Work Item Search</label>
        <%= select_tag(:wi_search_field, options_for_select(['All Fields', 'Name', 'Etag'], h(params[:wi_search_field])), :class=>"search_field") %>
        </span>
      <label for="qq" class="sr-only">Search Box</label>
      <%= text_field_tag :qq, params[:qq], :placeholder => 'Search...', :class => "search_q q form-control", :id => "qq", :autofocus => should_autofocus_on_search_box? %>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" id="wi_search">
          <span class="submit-search-text">Search</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
    </div>
<% end %>
<script>add_form_classes();</script>