<div id="dpn_form" class="hidden">
  <div class="">
    <span id="ui-id-1" class=""><h4>Confirm Requeue for DPN</h4></span>
  </div>
  <div id="dialog-form-dpn" class="">
    <form>
      <fieldset>
        <label for="stage">What stage would you like to requeue to?</label><br>
        <p id="dpn_error" class="hidden alert alert-error">This field is required.</p>
        <label><input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['package'] %>"> Package (Start from scratch)</label><br/>
        <label><input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['store'] %>"> Store</label><br/>
        <label><input type="radio" name="stage" value="<%= Pharos::Application::PHAROS_STAGES['record'] %>"> Record</label>
      </fieldset>
    </form>
  </div>
  <br>
  <div class="">
    <div class="">
      <button type="submit" id="dpn_form_submit" class="btn doc-action-btn btn-success">
        <i class="glyphicon glyphicon-repeat"></i>Requeue Item</button>
      <button type="button" id="dp_form_cancel" class="btn doc-action-btn btn-warning">
        <i class="glyphicon glyphicon-remove"></i>Cancel</button>
    </div>
  </div>
</div>