<div id="glacier_restore_form" class="hidden">
  <div class="">
    <span id="ui-id-1" class=""><h4>Confirm Requeue for Glacier Restoration</h4></span>
  </div>
  <div id="dialog-form-glacier-restore" class="">
    <form>
      <fieldset>
        <label for="state_item">Delete Work Item State</label>
        <input type="checkbox" name="state_item" id="state_item" class="text ui-widget-content ui-corner-all">
      </fieldset>
    </form>
  </div>
  <br>
  <div class="">
    <div class="">
      <button type="submit" id="glacier_restore_form_submit" class="btn doc-action-btn btn-success">
        <i class="glyphicon glyphicon-repeat"></i>Requeue Item</button>
      <button type="button" id="glacier_restore_form_cancel" class="btn doc-action-btn btn-warning">
        <i class="glyphicon glyphicon-remove"></i>Cancel</button>
    </div>
  </div>
</div>