<div id="restore_form" class="hidden">
  <div class="">
    <span id="ui-id-1" class="">Confirm Requeue for Restoration</span>
  </div>
  <div id="dialog-form-restore" class="">
    <form>
      <fieldset>
        <label for="state_item">Delete Work Item State</label>
        <input type="checkbox" name="state_item" id="state_item" class="text ui-widget-content ui-corner-all">
      </fieldset>
    </form>
  </div>
  <div class="">
    <div class="">
      <button type="button" id="restore_form_submit" class="">Requeue Item</button>
      <button type="button" id="restore_form_cancel" class="">Cancel</button>
    </div>
  </div>
</div>