<div id="dpn_item_form" class="hidden">
  <div class="">
    <span id="ui-id-1" class=""><h4>Confirm Requeue for DPN <%= @dpn_item.task %></h4></span>
  </div>
  <div id="dialog-form-ingest" class="">
    <form>
      <fieldset>
        <label for="task">What task would you like to requeue to?</label><br>
        <p id="dpn_item_error" class="hidden alert alert-error">This field is required.</p>
        <% if @dpn_item.task == 'replication' %>
            <label><input type="radio" name="task" value="copy"> Copy</label><br>
            <label><input type="radio" name="task" value="validation"> Validation</label><br>
            <label><input type="radio" name="task" value="store"> Store</label>
        <% elsif @dpn_item.task == 'ingest' %>
            <label><input type="radio" name="task" value="package"> Package</label><br>
            <label><input type="radio" name="task" value="store"> Store</label><br>
            <label><input type="radio" name="task" value="record"> Record</label>
        <% end %>
        <label for="dpn_state_item">Delete DPN Item State</label>
        <input type="checkbox" name="dpn_state_item" id="dpn_state_item" class="text ui-widget-content ui-corner-all">
      </fieldset>
    </form>
  </div>
  <br>
  <div class="">
    <div class="">
      <button type="submit" id="dpn_item_form_submit" class="btn doc-action-btn btn-success">
        <i class="glyphicon glyphicon-repeat"></i>Requeue DPN Item</button>
      <button type="button" id="dpn_item_form_cancel" class="btn doc-action-btn btn-warning">
        <i class="glyphicon glyphicon-remove"></i>Cancel</button>
    </div>
  </div>
</div>