<% if @stages %>
    <div id="stage-parent" class="panel panel-default">
      <div id="filter-title-stage" class="collapse-toggle panel-heading collapsed" data-toggle="collapse" data-target="#filter-stage">
        <h5 class="panel-title">
          Item Stage <span class="stage-carat glyphicon glyphicon-chevron-right"></span>
        </h5>

      </div>
      <div id="filter-stage" class="panel-collapse facet-content collapse" style="height: 0px">
        <div class="panel-body">
          <ul class="facet-values list-unstyled">
            <% if @selected[:stage] %>
                <script>selected("stage", "<%= @selected[:stage].capitalize %>", "<%=url_for(params.permit(Pharos::Application::PARAMS_HASH).except :stage)%>")</script>
            <% else %>
                <% @stages.each do |stage| %>
                    <li><span class="facet-label"><a href="<%= current_path('stage', stage) %>"><%= stage.capitalize %></a></span></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>