<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'shared/filter_results' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <%= render 'shared/sort_and_per_page' %>
  <hr>
  <%= render 'shared/search_results' %>
  <%= render 'shared/compact_pagination' %>
</div>


