<% if @response.total <= spell_check_max and @response.spelling.words.size > 0 %>
    <div id="spell">
      <h4 class="suggest"><em><%= t('Did you mean', :options =>  @response.spelling.words.map { |word| link_to_query(word) }.join(" #{'Or'} ")).html_safe %></em></h4>
    </div>
<% end %>