$logo_image: '';
$apt_red: #800000;
$apt_black: #180000;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "generic_files.scss";
@import "institutions.scss";
@import "intellectual_objects.scss";
@import "premis_events.scss";
@import "users.scss";
@import "work_items.scss";

.simple_form label, .simple_form div.input {
  display: block;
  padding: 2px;
}

.password {
  width: 128px;
}

.simple_form .radio input {
  margin-left: 0px;
  margin-top: 5px;
}

.simple_form .radio label {
  margin-left: 20px;
}

#header-navbar .navbar-brand {
  width: auto;
  font-size: 2em;
  font-weight: bold;
  color: $apt_black;
  text-indent: 0;
  padding: 0;
  height: 75px;
}

#search-navbar {
  margin-left: 25px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .logo-text {
    width: auto;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .logo-text {
    width: auto;
  }
}

#q { width: auto; }

#sortAndPerPage {
  border-top: 1px solid #DDDDDD;
  margin-top: 1em;
  padding-top: 1em;
}

.glyphicon {
  font-family: 'Glyphicons Halflings';   /* to enable glyphicon */
  padding-right: 0.25em;
}

.search-scope .label-text {
  font-weight: normal;
}

.top-content-title { font-weight: bold; }
.panel-heading h4 { font-weight: bold; }
.index_title a { font-weight: bold; }
.page-header h1 { font-weight: bold; }

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top:  1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color:  #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

p.italic {
  font-style: italic;
  font-size: 12px;
}

@mixin fix-title {
  text-indent: 40px;
  width: auto;
}

#header-navbar .navbar-brand {@include fix-title;}

#search_selectors {
  float: left;
  display: inline;
  padding-top: 10px;
  padding-bottom: 5px;
}

#search_inputs {
  float: left;
  display: inline;
  padding-top: 17px;
  padding-bottom: 5px;}

.container {
  width: 1250px !important;
}

/* MISC */
.gravatar {
  float: left;
  margin-right: 10px;
}

a.block-link {
  display: block;
}

.search-scope {
  margin-right: 0.5em;
}

form a {
  padding-left: 10px;
}

.alert, .help-inline {
  color: #FF0000;
}

form .alert {
  padding: 0px;
}

.help-inline {
  padding-left: 15px;
}

.auditinfo h3 { font-weight: bold; }

input#q {
  width: 260px;
}

#chart-frame {
  box-sizing: border-box;
  width: 850px;
  height: 450px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);

  #chart {
    width: 800px;
    height: 400px;
    font-size: 14px;
    line-height: 1.2em;
  }
}


i.doc-action-btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /*background-image: linear-gradient;*/
  background-repeat: repeat-x;
  border-color: #CCCCCC #CCCCCC #B3B3B3;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.btn-danger{
  background-image: linear-gradient(to bottom, #d9534f, #d43f3a);
  color: #FFFFFF;
}

.btn-normal{
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  color: #428bca;
}

.btn-success{
  background-image: linear-gradient(to bottom, #5cb85c, #4cac4c);
  color: #FFFFFF;
}

.btn-warning{
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  color: #FFFFFF;
}

i.btn:hover,
i.btn:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
i.btn:hover,
i.btn:focus {
  background-color: #e6e6e6;
}

i.btn.active,
i.btn.active:hover {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}
i.btn.disabled:hover,
i.btn.disabled:focus,
i.btn.disabled:active,
i.btn.disabled.active,
i.btn[disabled] i.btn:hover,
i.btn[disabled] i.btn:focus,
i.btne[disabled] i.btn:active,
i.btn[disabled] i.btn.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
