<div align="center">
  <%= image_tag wicked_pdf_asset_base64('aptrust/logoWhiteLong.png') %>
  <table>
    <tr style="font-size: small; font-weight: lighter;">
      <th>help@aptrust.org | </th>
      <th>160 McCormick Rd, Charlottesville, VA 22901 | </th>
      <th>(434) 982-6388</th>
    </tr>
  </table>
</div>