<div id="content" class="col-md-9 col-sm-8">
  <h1>Available Reports</h1>
  <ul>
    <li>
      <%= link_to "General Overview for #{@institution.name}", institution_overview_path(@institution) %>
    </li>
    <li>
      <%= link_to 'Institution Breakdown', institution_breakdown_path %>
    </li>
  </ul>
</div>