<%= render partial: 'report_navigation' %>

<div class="tab-content" id="inst_show_content">

<div class="tab-pane" id="timeline">
    <br>
    <% if @institution.name? != 'APTrust' %>
        <canvas id="indiv_timeline_chart" width="400" height="400"></canvas>
        <script>timeline_labels = [];</script>
        <script>timeline_data = [];</script>
        <% @timeline_report.first.each do |label| %>
            <script>timeline_labels.push("<%= label %>");</script>
        <% end %>
        <% @timeline_report.last.each do |data_point| %>
            <script>timeline_data.push(<%= readable_bytes(data_point) %>);</script>
        <% end %>
        <script>timeline_graph(timeline_labels, timeline_data);</script>
    <% end %>
  </div>

</div>